<form class="new-question-form" method="post" action="/surveys/<%=@survey.id%>/questions">

  <input type="text" name="question[question_text]" placeholder="Question?"><br>

  <input type="submit" value="Submit Question" class="button">

</form>
