<h1><%= @user.username %></h1>

<h2>Your Created Surveys</h2>
<% @user.surveys.each do |s| %>
  <h3><%= s.title %></h3>
  <p><a href='EDITSURVERY'>Edit</a> - <a href='DELETESURVERY'>Delete</a></p>
<% end %>

<h2>Surveys You've Taken</h2>
<% @user.answers.each do |a| %>
  <p><%= a.survey.title %></p>
    <% a.survey.each do |s| %>
      <%= s.choice %>
    <% end %>
<% end %>
