<div class="container">
<h3>Create new survey</h3>
<main class="form-wrapper" role="main">
  <form method="POST" action="/surveys">
    <input type="text" name="survey[title]" placeholder="Survey Title"><br>
    <input type="hidden" name="survey[user_id]" value="<%= current_user.id %>"><br>
    <input type="submit" value="Start creating survey" class="button">
  </form>
  <%= erb :_errors %>
</main>
</div>



