<div class="container">
    <a href="/surveys/new" class="create button">Create New Survey</a>
</div>

<div class="container">
  <main role="main">
    <table class="all_surveys">
      <tr>
        <td>Surveys</td>
      </tr>
        <% @surveys.each do |survey| %>
      <tr>
        <td>
            <a href="<%= "surveys/#{survey.id}" %>">
              <%= survey.title %>
            </a>
        </td>
      </tr>
        <% end %>
    </table>
  </main>

</div>

