<div class="container">
<h3>Login to your account:</h3>
  <form method='POST' action='/login'>
    <input type='text' name='username' placeholder='Username'>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='submit' class='button'>
  </form>
  <%= erb :_errors %>
</div>
